.mut_acm_sphere {
  height: 100vw;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(50%) rotate(180deg);
  z-index: 0 !important;
}

.mut_linebox {
  position: absolute;
  width: 100%;
}

.mut_far_linebox {
  top: 200px;
  left: 40%;
}

.mut_about_linebox {
  width: 100vh;
  transform: rotateZ(90deg) rotateX(178deg) translate(-32px, -32px);
  transform-origin: 0 0;
}

.mut_far_linebox div {
  background: #ea8685;
}

.mut_about_linebox div {
  background: #f7d794;
}

.mut_linebox div {
  animation: line 3s infinite ease-out alternate;
}

.mut_linebox div:nth-child(2) {
  margin: 0 0 0 2.5%;
  animation-delay: 200ms;
}

.mut_linebox div:nth-child(3) {
  margin: 0 0 0 5%;
  animation-delay: 400ms;
}

.mut_linebox div:nth-child(4) {
  margin: 0 0 0 7.5%;
  animation-delay: 600ms;
}

.mut_linebox div:nth-child(5) {
  margin: 0 0 0 10%;
  animation-delay: 800ms;
}

.mut_linebox div:nth-child(6) {
  margin: 0 0 0 12.5%;
  animation-delay: 1000ms;
}

.mut_linebox div:nth-child(7) {
  margin: 0 0 0 15%;
  animation-delay: 1200ms;
}

.mut_linebox div:nth-child(8) {
  margin: 0 0 0 17.5%;
  animation-delay: 1400ms;
}

.mut_pay_sphere {
  background: #63cdda;
  height: calc(100vh - 160px);
  width: calc(100vh - 160px);
  position: absolute;
  top: 160px;
  right: 0;
  transform: translateX(50%) rotate(90deg);
}

.mut_other_line {
  margin: 32px 16px;
  animation: otherline 4s infinite ease-in-out alternate;
}

@keyframes line {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(16px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes otherline {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.95);
  }
  100% {
    transform: scaleX(1);
  }
}
