@import "../../style/vars";

.mut_svg_container {
	width: calc(100% - 64px);
	height: calc(100% - 207px);
	position: relative;
	margin: 175px 32px 32px 32px;
}

.mut_content_wrapper {
	padding: 32px;
	width: 100%;
	height: 100%;
	top: 160px;
	left: 0;
	position: absolute;
	z-index: 11 !important;
	overflow-y: scroll;

	button {
		height: 40px;
		margin: 16px 0 16px 32px;
		padding: 0 32px;
		border-radius: 8px;
		font-family: $viewFont;
		font-size: 1.1em;
		color: $darkColor;
		box-shadow: $elevation1;
		border: none;
		outline: none !important;
		transition: box-shadow 0.2s ease-in;
	}

	button:hover {
		box-shadow: $elevation2;
	}
}

.mut_content_wrapper::-webkit-scrollbar {
	width: 4px;
	background: rgba(0, 0, 0, 0);
}

.mut_content_wrapper::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
}

.mut_content_wrapper::-webkit-scrollbar-thumb {
	width: 8px;
	background: rgba(0, 0, 0, 0.3);
}

.mut_content_wrapper:after {
  content: "";
  display: block;
  height: 160px;
  width: 100%;
}

.mut_content_fix {
	transform: translate3d(0, 0, 0);
}

.mut_list_image {
	width: auto !important;
	max-width: calc(100% - 32px) !important;
	max-height: 400px;
}

.mut_row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 1200px) {

	.mut_row {
		justify-content: space-between;
	}

	.mut_row * {
		max-width: calc(50% - 64px) !important;
	}

	.mut_row:nth-child(odd) {
		flex-flow: row-reverse;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 480px) {
	.mut_list_image {
		max-height: 168px;
	}
	
	.mut_content_wrapper {
		padding: 16px;
	}
}

.mut_footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	left:0;
	padding: 8px;
	font-size: 12px;
	color: $darkColor;
	font-family: $viewFont;
	z-index: 0;

	a, a:visited, a:hover {
		color: $darkColor;
	}
}


/* Blue */
.mut_circle_color_1 {
	background: $blueColor;

	.mut_sphere, button {
		background: $blueColor;
	}
}

/*Teal*/
.mut_circle_color_2 {
	background: $tealColor;

	button {
		background: $tealColor;
	}
}

/*Green*/
.mut_circle_color_6 {
	background: $greenColor;

	button {
		background: $greenColor;
	}
}

/*Yellow*/
.mut_circle_color_3 {
	background: $yellowColor;

	button {
		background: $yellowColor;
	}
}

/*Orange*/
.mut_circle_color_4 {
	background: $orangeColor;

	button {
		background: $orangeColor;
	}
}

/*Red*/
.mut_circle_color_5 {
	background: $redColor;

	button {
		background: $redColor;
	}
}