.mut_svg_container {
	width: calc(100% - 64px);
	height: calc(100% - 207px);
	position: relative;
	margin: 175px 32px 32px 32px;
}

.mut_content_wrapper {
	padding: 32px;
	width: 100%;
	height: 100%;
	top: 160px;
	left: 0;
	position: absolute;
	z-index: 11 !important;
	overflow-y: scroll;
}

.mut_content_wrapper::-webkit-scrollbar {
    width: 4px;
	background: rgba(0, 0, 0, 0);
}

.mut_content_wrapper::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
}

.mut_content_wrapper::-webkit-scrollbar-thumb {
    width: 8px;
	background: rgba(255, 255, 255, 0.3);
}

.mut_image_list {
	width: auto !important;
	max-width: calc(100% - 32px) !important;
	max-height: 400px;
}

.mut_row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 32px;
}

@media only screen and (min-width : 1200px) {
	.mut_row_thick {
		flex-wrap: nowrap;
	}
}

@media only screen and (min-width : 768px) {
	.mut_row_thin {
		flex-wrap: nowrap;
	}

	.mut_row_reverse {
		flex-flow: row-reverse;
	}
}

.mut_footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	left:0;
	padding: 8px;
	font-size: 12px;
	color: #84817a;
	font-family: 'Inconsolata', monospace;
	z-index: 0;
}

.mut_footer a,
.mut_footer a:visited,
.mut_footer a:hover {
	color: #84817a;
}


/* Blue */
.mut_circle_color_1 {
	background: #778beb;
}

.mut_circle_color_1 .mut_sphere {
	background: #778beb;
}

/*Green*/
.mut_circle_color_2 {
	background: #63cdda;
}

/*Yellow*/
.mut_circle_color_3 {
	background: #f7d794;
}

/*Orange*/
.mut_circle_color_4 {
	background: #f3a683;
}

/*Red*/
.mut_circle_color_5 {
	background: #ea8685;
}