@import "../../style/vars";

.mut_sphere {
  position: absolute;
  border-radius: 50%;
  box-shadow: $elevation1;
	animation: spherebeat 2s infinite ease-in forwards;
}

@keyframes spherebeat {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.95);
	}
	100% {
		transform: scale(1);
	}
}
