.mut_circle {
	width: 104px;
	height: 104px;
	position: absolute;
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	z-index: 1;
	cursor: pointer;
	border-radius: 50%;
	transform: scale(0); 
	overflow: hidden;
}

.mut_circle_opening *,
.mut_circle_frank *,
.mut_circle_closing *,
.mut_circle_closed * {
	opacity: 0 !important;
	pointer-events: none;
}

.mut_circle_open *,
.mut_circle_opening *,
.mut_circle_frank * {
	transition: opacity 0.3s linear;
}

.mut_circle_opening,
.mut_circle_frank,
.mut_circle_open {
	z-index: 10;
}

.mut_circle_opening {
	top: calc(50% - 104px);
	left: calc(50% - 104px);
}

.mut_circle_frank,
.mut_circle_open,
.mut_circle_closed {
	transition: transform 0.3s ease-out;
}

.mut_circle_frank {
	transform: scale(30) !important;
}

.mut_circle img {
	width: 	calc(100% - 64px);
	max-width: 1024px;
	opacity: 0;
	margin: 16px 32px;
}

.mut_circle p {	
	color: #f7f1e3;
	opacity: 0;
	font-family: 'Inconsolata', monospace;
	font-size: 20px;
	margin: 8px 32px;
}

.mut_circle_light,
.mut_circle_light a,
.mut_circle_light p,
.mut_circle_light span {
	color: #84817a !important;
}

.mut_circle_open img {
	opacity: 1;
	transition: opacity 0.3s ease-in;
	transition-delay: 0.4s;
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.mut_circle_open p {
	opacity: 1;
	transition: opacity 0.3s ease-in;
	transition-delay: 0.4s;
}

.mut_circle_anim_1 {
	animation: circle1 8s infinite ease-out alternate;
}

.mut_circle_anim_2 {
	animation: circle2 7s infinite ease-out forwards;
}

.mut_circle_anim_3 {
	animation: circle3 6s infinite ease-out forwards;
}

.mut_circle_anim_4 {
	animation: circle4 5s infinite ease-out forwards;
}

.mut_circle_anim_5 {
	animation: circle5 4s infinite ease-out forwards;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.mut_circle {
		width: 96px;
		height: 96px;
	}

	.mut_circle_opening {
		top: calc(50% - 96px);
		left: calc(50% - 96px);
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.mut_circle {
		width: 64px;
		height: 64px;
	}

	.mut_circle_opening {
		top: calc(50% - 64px);
		left: calc(50% - 64px);
	}

	.mut_circle img {
		margin: 16px;
	}

	.mut_circle p {
		margin: 8px 16px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.mut_circle {
			width: 56px;
			height: 56px;
	}

	.mut_circle_opening {
		top: calc(50% - 56px);
		left: calc(50% - 56px);
	}
}

.mut_circle_open {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0 !important;
	left: 0 !important;
	transition: none;
	transform: none;
	border-radius: 0;
	box-shadow: none;
	padding: 160px 32px 32px 32px;
}

.mut_circle_closing {
	z-index: 10;
	transform: scale(30);
	border-radius: 50%;
}

.mut_circle_opening,
.mut_circle_fred {
	transition: transform 0.3s ease-in !important;
}

.mut_circle_closed {
	transition: transform 0.1s ease-in !important;
}

.mut_circle_closed {
	transform: scale(1);
}

.mut_body_light h1,
.mut_body_light h2 {
	color: #f7f1e3 !important;
}

.mut_body_light svg {
	fill: #f7f1e3;
}

.mut_body_close_shown svg {
	transform: scale(1);
}

@keyframes circle1 {
	0% {
		transform: translate(0px, 0px);
	}
	20% {
		transform: translate(6px, 8px);
	}
	40% {
		transform: translate(9px, 12px);
	}
	60% {
		transform: translate(3px, 5px);
	}
	80% {
		transform: translate(-2px, 7px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

@keyframes circle2 {
	0% {
		transform: translate(0px, 0px);
	}
	20% {
		transform: translate(4px, 8px);
	}
	40% {
		transform: translate(8px, 11px);
	}
	60% {
		transform: translate(2px, 5px);
	}
	80% {
		transform: translate(-3px, -1px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

@keyframes circle3 {
	0% {
		transform: translate(6px, 0px);
	}
	20% {
		transform: translate(-5px, -4px);
	}
	40% {
		transform: translate(-11px, -8px);
	}
	60% {
		transform: translate(-3px, -2px);
	}
	80% {
		transform: translate(3px, 4px);
	}
	100% {
		transform: translate(6px, 0px);
	}
}

@keyframes circle4 {
	0% {
		transform: translate(0px, 0px);
	}
	20% {
		transform: translate(6px, -2px);
	}
	40% {
		transform: translate(12px, -9px);
	}
	60% {
		transform: translate(3px, -4px);
	}
	80% {
		transform: translate(-4px, 2px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

@keyframes circle5 {
	0% {
		transform: translate(0px, 0px);
	}
	20% {
		transform: translate(9px, -7px);
	}
	40% {
		transform: translate(12px, -10px);
	}
	60% {
		transform: translate(2px, -2px);
	}
	80% {
		transform: translate(-6px, 5px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}