@import "../../style/vars";

.mut_ripple {
	position: absolute;
	opacity: 0.4;
	transform: scale(0);
	border-radius: 50%;
	background: $darkColor;
}

.mut_ripple_open {
	animation: ripple 0.4s linear;
}

@keyframes ripple {
	100% {
		transform: scale(2.5);
		opacity: 0;
	}
}